header {
    background-color: #F8E8EE;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    padding: 1.5rem;
}

.logo {

    width: 33rem;
    align-items: center;
}

body {
    background-color: #ffffff;
}

h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
    background-color: #F8E8EE;
    margin-top: 0;

}

#menu li {
    border: 0.1rem solid;
    border-radius: 0.6rem;
    display: inline-flex;
    background-color: #F8E8EE;
    padding: 0 7rem;
    margin: 0.5rem;
    font-family: 'Poiret One', cursive;



}

li {
    color: rgb(202, 139, 139);
    padding: 0.2rem 0.5rem;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

    &:before {
        content: " ";
        position: absolute;
        top: 0rem;
        left: 0.5rem;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: .2s;
        border-radius: 0.7rem;
    }

    &:hover {
        &::before {
            background-color: linear-gradient(to bottom, #FDCEDF);
            box-shadow: 0px 2px 10px 0px rgb(207, 125, 176);
            transform: scale(1.2);
        }
    }
}

main section a {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
    justify-content: center;

}

.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80rem;
    grid-column: 1;
    margin: auto;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;


}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    margin: 0;
    background-color: #F8E8EE;
    margin: -.5rem;
}


footer {
    background-color: #F8E8EE;
    color: #000000;
    font-size: 1rem;
    font-family: 'Poiret One', cursive;
    text-align: center;
    
}
footer h3{
    margin: auto;
}
#link {
    list-style-type: none;
    border: 0.2rem solid;
    border-radius: 0.6rem;
    display: inline-block;
    background-color: #F8E8EE;
    padding: 0 10rem;
    margin: 0;


}

.link li {
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0 7rem;
    margin: 0 0 0 0;
    display: inline-block;


}

footer a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-weight: bold;
}

.fa-brands {
    padding: 1rem;
}

@media screen and (max-width: 780px) {

    header {
        width: 22.rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    main section {
        display: none;
    }

    .logo {
        width: 10rem;
    }

    .link li {
        border: 0.1rem solid;
        border-radius: 0.6rem;
        padding: 0 1rem;
        margin: 0;
        margin-right: 1rem;
        display: inline-block;


    }

    footer a {
        color: #000000;
        text-decoration: none;
        display: inline-block;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        font-weight: bold;
    }

    html body {

        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .bblsaison {
        width: 22rem;
    }

    .card4 {
        width: 22rem !important;
    }
    #burger {
        width: 50px;
        height: 2px;
        background: black;
        display: inline-block;
        position: relative;
    }
    
    #burger::before,
    
    #burger::after {
        content: '';
        width: 50px;
        height: 2px;
        background: black;
        display: inline-block;
        position: absolute;
        transform-origin: center;
        transition: all 0.1s ease;
    }
    
    #burger::before {
        /*espace entre les barres */
        top: -7px;
    }
    
    #burger::after {
        top: 7px;
    }
    
    #burger.open {
        /*permet menu en 3 barres et pas en étoiles*/
        background: transparent;
    
    }
    
    /* celles du haut et du bas s'inclinent pour former une croix ou 3 barres */
    #burger.open::before {
        transform: rotate(45deg);
        top: 0;
    }
    
    #burger.open::after {
        transform: rotate(-45deg);
        top: 0;
    }
    
    #list-unstyled {
        display: none;
        /* permet ouverture fermeture menu*/
        position: absolute;
        color: #000000;
        font-family: 'Poiret One', cursive;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        font-weight: bold;
        font-size: 1.5rem;
    
    }
    
    #list-unstyled.open {
        display: block;
        animation: shotup 2s forwards;
        padding-left: 40rem;
    }
    
    #navBurger {
        text-align: initial;
    }
    
    /*permet l'effet dans le menu B*/
    
    @keyframes shotup {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
    
        70% {
            transform: translateX(-50px);
        }
    
        85% {
            transform: translateX(30px);
        }
    
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }

}

@media screen and (max-width: 1400px) {

    header {
        width: 48.2rem;
    }

    h1 {
        font-size: 3rem;

    }

    .sousTitre {
        width: 51.2rem;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        width: 48rem;
    }

    main section {
        display: none;
    }

    .logo {
        width: 30rem;
    }

    .articles {

        display: block;
        font-family: Montserrat;
        width: 50rem;
    }

    .card4 {
        width: 47rem !important;
        font-family: Montserrat;

    }

    .link li {
        border: 0.1rem solid;
        border-radius: 0.6rem;
        padding: 0 1rem;
        margin: 0;
        margin-right: 1rem;
        display: inline-block;


    }

    footer {
        width: 51.2rem;
    }

    footer a {
        color: #000000;
        text-decoration: none;
        display: inline-block;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        font-weight: bold;
    }

    html body {

        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .bblsaison {
        width: 40rem;
    }
    #burger {
        width: 50px;
        height: 2px;
        background: black;
        display: inline-block;
        position: relative;
    }
    
    #burger::before,
    
    #burger::after {
        content: '';
        width: 50px;
        height: 2px;
        background: black;
        display: inline-block;
        position: absolute;
        transform-origin: center;
        transition: all 0.1s ease;
    }
    
    #burger::before {
        /*espace entre les barres */
        top: -7px;
    }
    
    #burger::after {
        top: 7px;
    }
    
    #burger.open {
        /*permet menu en 3 barres et pas en étoiles*/
        background: transparent;
    
    }
    
    /* celles du haut et du bas s'inclinent pour former une croix ou 3 barres */
    #burger.open::before {
        transform: rotate(45deg);
        top: 0;
    }
    
    #burger.open::after {
        transform: rotate(-45deg);
        top: 0;
    }
    
    #list-unstyled {
        display: none;
        /* permet ouverture fermeture menu*/
        position: absolute;
        color: #000000;
        font-family: 'Poiret One', cursive;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        font-weight: bold;
        font-size: 1.5rem;
    
    }
    
    #list-unstyled.open {
        display: block;
        animation: shotup 2s forwards;
        padding-left: 40rem;
    }
    
    #navBurger {
        text-align: initial;
    }
    
    /*permet l'effet dans le menu B*/
    
    @keyframes shotup {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
    
        70% {
            transform: translateX(-50px);
        }
    
        85% {
            transform: translateX(30px);
        }
    
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }

}

#burger {
    width: 50px;
    height: 2px;
    background: black;
    display: inline-block;
    position: relative;
    
}

#burger::before,

#burger::after {
    content: '';
    width: 50px;
    height: 2px;
    background: black;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.1s ease;
   
}

#burger::before {
    /*espace entre les barres */
    top: -7px;
}

#burger::after {
    top: 7px;
}

#burger.open {
    /*permet menu en 3 barres et pas en étoiles*/
    background: transparent;

}

/* celles du haut et du bas s'inclinent pour former une croix ou 3 barres */
#burger.open::before {
    transform: rotate(45deg);
    top: 0;
}

#burger.open::after {
    transform: rotate(-45deg);
    top: 0;
}

#list-unstyled {
    display: none;
    /* permet ouverture fermeture menu*/
    position: absolute;
    color: #000000;
    font-family: 'Poiret One', cursive;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5rem;

}

#list-unstyled.open {
    display: block;
    animation: shotup 2s forwards;
    padding-left: 40rem;
}

#navBurger {
    text-align: initial;
}

/*permet l'effet dans le menu B*/

@keyframes shotup {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    70% {
        transform: translateX(-50px);
    }

    85% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

/*@-webkit-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
@-moz-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
}

